@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #059669; /* Emerald-600 */
  --accent-color: #a3e635; /* Lime-400 */
  --background-color: #fafaf9; /* Stone-50 */
}

body {
  background-color: var(--background-color);
  font-family: sans-serif;
}
