.hero {
  text-align: center;
  padding: 4rem 1rem;
  background-color: var(--background-color);
}

.hero h1 {
  font-size: 3rem;
  color: var(--text-color);
  margin-bottom: 1rem;
  font-family: var(--heading-font);
}

.hero p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto 2rem auto;
  line-height: 1.6;
  color: var(--text-color);
}

.cta-button {
  background-color: var(--primary-color);
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: var(--secondary-color);
}

/* Estilos para a seção do mapa */
.map-section {
  padding: 4rem 1rem;
  text-align: center;
}

.map-section h2 {
  font-size: 2.5rem;
  color: var(--text-color);
  margin-bottom: 1rem;
  font-family: var(--heading-font);
}

.map-section p {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-bottom: 2rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Media Query para Mobile */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }
}
