.team-page {
  padding: 4rem 1rem;
  text-align: center;
  background-color: #f8f9fa;
}

.team-page h1 {
  font-size: 3rem;
  color: var(--text-color);
  margin-bottom: 1rem;
  font-family: var(--heading-font);
}

.team-intro {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-bottom: 3rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
}

/* Media Query para Mobile */
@media (max-width: 768px) {
  .team-page h1 {
    font-size: 2.2rem;
  }
  
  .team-members {
    gap: 1.5rem;
  }
}
